<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.e02.rootconsole" android:versionCode="15" android:versionName="1.7.5">
 <uses-sdk android:minSdkVersion="28" android:targetSdkVersion="28"/>
 <uses-permission android:name="android.permission.INTERNET"/>
 <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
 <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
 <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
 <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
 <application android:label="@string/app_name" android:icon="@drawable/ic_launcher" android:roundIcon="@drawable/ic_launcher" android:banner="@drawable/app_banner" android:theme="@android:style/Theme.Material.NoActionBar" android:allowBackup="false">
  <activity android:banner="@drawable/app_banner" android:launchMode="singleTop" android:screenOrientation="landscape" android:configChanges="orientation|screenSize" android:name=".MainActivity" android:label="@string/app_name" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity>
  <service android:name=".ConsoleService" android:exported="false" android:stopWithTask="false"/>
 <service android:name=".RemoteService" android:exported="false"/>
  <service android:name=".UpdateService" android:exported="false"/>
  <service android:name=".StarboxStatusBarPlugin" android:label="E02星匣" android:enabled="false" android:exported="true" android:permission="android.permission.STATUS_BAR_SERVICE"><intent-filter><action android:name="com.flyme.auto.plugin.action.PLUGIN_STATUS_BAR"/></intent-filter></service>
  <receiver android:name=".StartupReceiver" android:exported="true">
   <intent-filter>
    <action android:name="android.intent.action.BOOT_COMPLETED"/>
    <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
   </intent-filter>
  </receiver>
 </application>
</manifest>
